# Large data files
data/*.csv

# Keep the data folder in Git
!data/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Environment variables
.env

# Spark temporary files
spark-warehouse/
metastore_db/
derby.log